        *{
            margin: 0;
            padding: 0;
        }
        body{
            font-family: Arial, sans-serif;
            background:#f4f6f8;
            padding:20px;
            max-width:600px;
            margin:auto
        }
        input{
            padding:10px;
            width:70%;
            margin-bottom:10px;
        }
        button{
            padding:10px;
            cursor:pointer;
            background:#007bff;
            color:white;
            border:none;
            border-radius:4px;
        }
        .job-container{
            margin-top:20px;
        }
        .job-card{
            background:white;
            padding:15px;
            margin-bottom:12px;
            border-radius:6px;
            box-shadow:0 2px 6px rgba(0,0,0,0.1);
        }
        .job-card h3{
            margin:0;
            color:#333;
        }
        .job-card p{
            margin:4px 0;
            color:#555;
        }
        .apply-btn{
            padding: 8px 12px;
            margin-top: 10px;
            cursor:pointer;
            background:green;
            color:white;
            border:none;
            border-radius:4px;
        }
        .apply-btn:hover{
            background-color: darkgreen;
        }
        .apply-btn.applied{
            background:gray;
            cursor:not-allowed;
}